.main {
  text-align: justify;
  padding: 5rem;
  max-width:800px;
  margin: auto;
}

.main h1 {
  text-align: center;
  padding-bottom:2rem;
}

.main p {
  padding-bottom:1rem;
  text-align: center;
}

.main ul {
  list-style: none;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.main a {
  color: blueviolet;
  text-decoration: underline;
}


